<% @rooms.each do |room| %>
  <% course = get_course(room, mtwrf) %>
  <% preference = get_faculty_preference(mtwrf) %>
  <% availability = get_availability(room, mtwrf) %>
  
  <% if availability==false %>
    <td bgcolor="#AAAAAA">
  <% else %>
    <% if course==nil || course.user_id == @course.user_id%>
      <% if preference == 1 %> 
        <td bgcolor="#CCFFCC"> 
      <% elsif preference == 3 %> 
        <td bgcolor="#FFCCCC"> 
      <% else %>
        <td>
      <% end %>
    <% else %> 
      <td> 
    <% end %>
  <% end %>
    
  <% if course != nil %>     
    <% if room.id != 1 %>  
      <% @assigned_courses << course %>
    <% end %>
    <%= link_to course.number, edit_course_path(course) %> 
    <% if course.user_id!=1 %>
      <%= course.user.full_name %>
    <% end %>
    <br>size: <%= course.size %>
  <% end %>
  </td>
<% end %>
