<br><br>
<div>
  <td><%= link_to "Reset all faculty preferences",execute_reset_faculty_preferences_path, 
                  data: { confirm: "Are you sure to reset all faculty preferences?"}, class: 'btn btn-lg btn-danger' %></td>
</div>