@import "bootstrap-sprockets";
@import "bootstrap";

#log{
  font-weight: bold;
}

#log:hover{
  color: #000;
}

dd {
    display: block;
    margin-top: 10px;
}

div.footer{
  margin-top:80px;
}

hr{
  border-width:1px;
  border-color:#999999;
  margin-bottom:-0.1em;
}