<h1>Time table</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="100px"> </th>
      <% @days.each do |day| %>
        <th width="100px"> <%= day %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @times.each do |time| %>
      <tr>
        <td><%= (time[0]/100).to_s + ":" + (time[0]%100).to_s + "-" + (time[1]/100).to_s + ":" + (time[1]%100).to_s %><br></td>
        <% @days.each do |day| %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>